<%- include header %>
<%- include navi %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif
}
.w3-w3-container {
    position: absolute;
    bottom: 0;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.fa-star
{
font-size:48px;
}
#oneStar:hover,#twoStar:hover,#threeStar:hover,#fourStar:hover,#fiveStar:hover
{color: orange;}
.button:hover
{
	background-color: gray;
}
.button {
    background-color: green; 
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;	
}
#your-rate{display:none;}
</style>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            
			<div class="w3-card" style="width:100%">
			<img src="<%=data[0].imgSrc%>" alt="Person" style="width:100%">
			<div class="w3-container">
			<h1 style="text-align: center;" ><font style="color:grey"><b><hr ><%=data[0].name%> company</b></font></h1>
			</div>
			</div>
           
          </div>
          <div class="w3-container">
            

			<p class="w3-large"><br>
              <b>
                <i class="fa fa-calendar fa-fw w3-margin-right w3-text-teal"></i><%= data[0].ngaylamviec %></b>
            </p>
			<p class="w3-large">
              <b>
                <i class="fa fa-map-marker fa-fw w3-margin-right w3-text-teal"></i><%= data[0].location %></b>
            </p>
			<p class="w3-large">
              <b>
                <i class="fa fa-envelope fa-fw w3-margin-right w3-text-teal"></i><%= data[0].email %></b>
            </p>
			<p class="w3-large">
              <b>
                <i class="fa fa-phone fa-fw w3-margin-right w3-text-teal"></i><%= data[0].phone %></b>
            </p>
            <p class="w3-large">
              <b>
                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>More</b>
            </p>
           
			
			

<body>

<h2>Company Rating</h2>
<span>&nbsp;&nbsp;</span>
<span  id="one" class="fa fa-star "  ></span>
<span  id="two" class="fa fa-star "  ></span>
<span  id="three" class="fa fa-star"  ></span>
<span  id="four" class="fa fa-star"  ></span>
<span  id="five" class="fa fa-star"  ></span>
<span ><font id="tb" size="8" color="orange"> &nbsp;<%=star[0].avg%></font></span>
<p>&nbsp;&nbsp;&nbsp;&nbsp;<input id="startRate" class="button"  type="submit" value="Rating this company." onclick="document.getElementById('your-rate').style.display='block'" alt="rate"></p>
<script>
function show(num)
{
    if(num<2){
        document.getElementById("one").style.color = "orange";
        document.getElementById("two").style.color = "black";
        document.getElementById("three").style.color = "black";
        document.getElementById("four").style.color = "black";
        document.getElementById("five").style.color = "black";
      }
     else if(num<3||num==2){
        document.getElementById("one").style.color = "orange";
        document.getElementById("two").style.color = "orange";
        document.getElementById("three").style.color = "black";
        document.getElementById("four").style.color = "black";
        document.getElementById("five").style.color = "black";
     }
     else if(num<4||num==3){
        document.getElementById("one").style.color = "orange";
        document.getElementById("three").style.color = "orange";
        document.getElementById("two").style.color = "orange";
        document.getElementById("four").style.color = "black";
        document.getElementById("five").style.color = "black";
       }
    else  if(num<5||num==4){
        document.getElementById("one").style.color = "orange";
        document.getElementById("three").style.color = "orange";
        document.getElementById("two").style.color = "orange";
        document.getElementById("four").style.color = "orange";
        document.getElementById("five").style.color = "black";
    } else if(num==5){
    	document.getElementById("one").style.color = "orange";
        document.getElementById("three").style.color = "orange";
        document.getElementById("two").style.color = "orange";
        document.getElementById("four").style.color = "orange";
        document.getElementById("five").style.color = "orange";
		}
		document.getElementById("tb").innerHTML='&nbsp;'+Math.round(num * 100) / 100;
}
//chua co ai danh gia
if('<%=star[0].avg%>'=='')document.getElementById("tb").innerHTML='&nbsp;0';
else
{		
		show(parseFloat('<%=star[0].avg%>'));
}
</script>


<div id="your-rate">
<h2>Your Rating</h2>
<form method="post" action="/company/<%=data[0].name%>">
<span>&nbsp;&nbsp;</span>
<span  name="one" id="oneStar" class="fa fa-star " onclick="showStar(1)" value="1" ></span>
<span name="two" id="twoStar" class="fa fa-star " onclick="showStar(2)" value="2" ></span>
<span name="three" id="threeStar" class="fa fa-star" onclick="showStar(3)" value="3" ></span>
<span name="four" id="fourStar" class="fa fa-star" onclick="showStar(4)" value="4" ></span>
<span name="five" id="fiveStar" class="fa fa-star" onclick="showStar(5)" value="5" ></span>
<br>
<span id="select" name="select"></span>
<br>
<textarea style="width:90%;height:150px;" placeholder="Viết bình luận..." type="text" name="comment" id='comment'></textarea>
<input id="rate" class="button"  name="rateBtn" type="submit" value="Gửi." onclick="load();" alt="rate">
</form>
</div>
<script>
var star=0;var select='';
function load()
{	
	
	// comment có dạng 1<cmt> 2<cmt>  
	var cmt=document.getElementById("comment").value;
	document.getElementById("comment").value = star+cmt;
	window.location.href='/company/<%=data[0].name%>';
	
}
function showStar(num)
{	star=num;
	select='<br><font color="blue">You will rate '+num+' star.<br></font>';
	document.getElementById('select').innerHTML='<br><font color="blue">You will rate '+num+' star.<br></font>';      
	switch(num) {
    case 1:
        document.getElementById("oneStar").style.color = "orange";
        document.getElementById("twoStar").style.color = "black";
        document.getElementById("threeStar").style.color = "black";
        document.getElementById("fourStar").style.color = "black";
        document.getElementById("fiveStar").style.color = "black";
        break;
    case 2:
        document.getElementById("oneStar").style.color = "orange";
        document.getElementById("twoStar").style.color = "orange";
        document.getElementById("threeStar").style.color = "black";
        document.getElementById("fourStar").style.color = "black";
        document.getElementById("fiveStar").style.color = "black";
        break;
    case 3:
        document.getElementById("oneStar").style.color = "orange";
        document.getElementById("threeStar").style.color = "orange";
        document.getElementById("twoStar").style.color = "orange";
        document.getElementById("fourStar").style.color = "black";
        document.getElementById("fiveStar").style.color = "black";
        break;
    case 4:
        document.getElementById("oneStar").style.color = "orange";
        document.getElementById("threeStar").style.color = "orange";
        document.getElementById("twoStar").style.color = "orange";
        document.getElementById("fourStar").style.color = "orange";
        document.getElementById("fiveStar").style.color = "black";
        break;
    default:
    	document.getElementById("oneStar").style.color = "orange";
        document.getElementById("threeStar").style.color = "orange";
        document.getElementById("twoStar").style.color = "orange";
        document.getElementById("fourStar").style.color = "orange";
        document.getElementById("fiveStar").style.color = "orange";
	}
}

</script>
			
            
            <p class="w3-large">
              <b>
                <i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Number of employees</b>
            </p>			
            <div class="w3-light-grey w3-round-xlarge w3-small">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">1280</div>
            </div>
            
			<br>
            <p class="w3-large w3-text-theme">
              <b>
                <i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
            </p>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
            </div>
            <p>Spanish</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
            </div>
            <p>Vienamese</p>
            <div class="w3-light-grey w3-round-xlarge">
              <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
            </div>
            <br>
          </div>
        </div>
        <br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>History of company</h2>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Founded company <%=data[0].name%></b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 1998 -
              <span class="w3-tag w3-teal w3-round">Current</span>
            </h6>
            <p> Company <%=data[0].name%> in Jan 1998. 
			Up to now, Company have had over 2000 employees both in Vienamese and Foregin.</p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Top successful company</b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
            <p>This is one of the most successful company in Vienamese with many products and project in the world. </p>
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity">
              <b>Recruit employees have Multi skills </b>
            </h5>
            <h6 class="w3-text-teal">
              <i class="fa fa-calendar fa-fw w3-margin-right"></i>Up to 2018 we have recruited...</h6>
            <p> JavaScript, C#, .NET, Linux, System Admin, UI-UX, Html, nodejs, ... </p>
            <br>
          </div>
        </div>

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>New Job for you</h2>
			
			<% var num=post.length; if(num>2)num=2;
			for(var i=0; i<num; i++) { %>
							
							<script>
							//hien thi vai bai post gan nhat cua cong ty
							// in ra cac post
							
							var html = '';
							html += '<p>' + '<div class="w3-container">';
							html += '<div class="w3-card-4" style="width:80%">';
							html += '<header class="w3-container w3-light-grey">';
							html += '<h3><%=post[i].tieuDe%></h3>';
							html += '</header>';
							html += '<div class="w3-container">';
							html += '<hr>';
							html += '<img src="<%=data[0].imgSrc%>" alt="logo" class="w3-left w3-circle w3-margin-right" style="width:60px">';
							//định dạng bài đăng ở đây
							var noidung='<%=post[i].noiDung%>';
							
							
							html +='<p><font size="4" face="Verdana">'
							+'Công ty <b><%=data[i].name%></b> cần tuyển <b>100</b> vị trí<br>'
							+'Lương <b>500$-2000$</b><br>'
							+'Cụ thể:<br>'+noidung+'<br>'
							+'Các ứng viên vui lòng Gửi CV về địa chỉ: <b><%=data[i].email%> </b>'
							+'</font></p><br>';
							
							var timepost = Date.parse('<%=post[i].datePost%>');			//mysql định dạng Sun May 06 2018 00:00:00 GMT+0700 (SE Asia Standard Time)	
							var current = new Date();
							var day=Math.floor((current-timepost)/86400000);
							var hour=Math.floor((current-timepost-86400000*day)/3600000);
							if(day==0)out=hour+' giờ trước';
							else	var out=day+' ngày '+hour+' giờ trước';
							
							html += '<div><font face="Comic Sans MS">';
		
							html += '<span style="float:right;color:blue;" ><b>'+out+'</b></span>';
							html += '</font></div>';
							html += '<br></div>';
							html += '</div>';
							html += '</div>';
							html += '</p>';
						
							document.write(html);
							document.write('<br>');							
							</script>
				
				<% } %>
		  
          
          
        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>



  <%- include footer %>