<%- include header %>
    <%- include navi %>
        <!-- Main component for a primary marketing message or call to action -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <div class="container" style="min-height:550px;">
            <h1>Edit Profile</h1>
            <hr>
            <div class="row">
                <!-- left column -->
                <div class="col-md-3">
                    <div class="text-center">
                        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                        <h6>Upload a different photo...</h6>

                        <input class="form-control" type="file">
                    </div>
                </div>

                <!-- edit form column -->
                <div class="col-md-9 personal-info">
                    <div class="alert alert-info alert-dismissable">
                        <a class="panel-close close" data-dismiss="alert">×</a>
                        <i class="fa fa-coffee"></i>
                        This is an
                        <strong>.alert</strong>. Use this to show important messages to the user.
                    </div>
                    <h3>Personal info</h3>

                    <form class="form-horizontal" role="form" action="" method="post">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">First name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="first_name" value="<%=data.first_name%>" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Last name:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="last_name" value="<%=data.last_name%>" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Birth Date:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="Bdate" id="Bdate" max="" type="date">
                                <script>
                                    //mysql định dạng Sun May 06 2018 00:00:00 GMT+0700 (SE Asia Standard Time)	
                                    function convert(str) {
                                        var mnths = {
                                                Jan: "01",
                                                Feb: "02",
                                                Mar: "03",
                                                Apr: "04",
                                                May: "05",
                                                Jun: "06",
                                                Jul: "07",
                                                Aug: "08",
                                                Sep: "09",
                                                Oct: "10",
                                                Nov: "11",
                                                Dec: "12"
                                            },
                                            date = str.split(" ");
                                        return [date[3], date[2], mnths[date[1]]].join("-");
                                    }

                                    function str_pad(str) {
                                        return String("00" + str).slice(-2);
                                    }

                                    var time = '';
                                    if ('<%=data.Bdate%>' == '') time = null;
                                    else
                                        time = convert('<%=data.Bdate%>');
                                    document.getElementById('Bdate').value = time;


                                    var now = new Date();


                                    max = [now.getFullYear() - 18, str_pad(now.getMonth() + 1), str_pad(now.getDate())]
                                        .join("-");
                                    document.getElementById('Bdate').max = max;
                                    console.log(max);
                                </script>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Phone:</label>
                            <div class="col-lg-8">
                                <input class="form-control" name="phone" value="<%=data.phone%>" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Address:</label>
                            <div class="col-md-8">
                                <input class="form-control" name="address" value="<%=data.address%>" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-8">
                                <input class="btn btn-primary" value="Save Changes" type="submit">
                                <span></span>
                                <a href="/edit" class="btn btn-default">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <%- include footer %>