
<%- include header %>
  <%- include navi %>
    <!-- bar login sign up ... -->
<link href="css/index.css" rel="stylesheet">
<link href="/css/index.css" rel="stylesheet">
    <body >

      <!-- Page Content -->
	  
      <div class="container" >
		
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4" >
		
          <h1 class="display-3">A Warm Welcome!</h1>
          <p class="lead">Chào mừng bạn đến với website tuyển dụng IT hàng đầu Việt Nam</p>
		  
          <a href="/job" class="btn btn-primary btn-lg">Việc làm mới nhất</a>
		
        </header>

        <!-- Page Features -->
		<h1 id="topcompany"><br>TOP COMPANY</h1>
        <div class="row text-center" >
		
				
				
				
				<% for(var i=11; i<19; i++) { %>
					
							<script>
							var html='';
							html += '<div class="col-lg-3 col-md-6 mb-4">';
							html += '<div class="card">';
							html += '<img class="card-img-top" style="margin-bottom:auto;margin-top:auto;margin-left:auto;margin-right:auto;" src="<%=data[i].imgSrc%>" alt="">';
							html += '<div class="card-body">';
							html += ' <h4 class="card-title"><%=data[i].name%></h4>';
							html += '<p class="card-text">';
							html += '<%=data[i].location%>';
							html += '</p>';
							html += '</div>';
							html += '<div class="card-footer">';
							html += '<a href="/company/<%=data[i].name%>" class="btn btn-primary">Find Out More!</a>';
							html += '</div>';
							html += '</div>';
							html += '</div>';
							document.write(html);
							</script>
					
				<% } %>
				
						
						
						
			
					
		
		
		<a href="/company" class="next">See more company &raquo;</a>
		
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container -->

      <%- include footer %>