<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<%- include header %>
	<%- include navi %>
		<!-- bar login sign up ... -->

		<body >

			<!-- Page Content -->
			<div class="container" style="min-height:535px;">


				<h1>
					<br>Những việc làm mới nhất
					<br>
				</h1>

				
		
				<% for(var i=0; i<data.length; i++) { %>
							
							<script>
							// in ra cac post
							document.write('<br>');
							var html = '';
							html += '<p>' + '<div class="w3-container">';
							html += '<div class="w3-card-4" style="width:80%">';
							html += '<header class="w3-container w3-light-grey">';
							html += '<h3><%=data[i].tieuDe%></h3>';
							html += '</header>';
							html += '<div class="w3-container">';
							html += '<hr>';
							html += '<img src="<%=data[i].imgSrc%>" alt="logo" class="w3-left w3-circle w3-margin-right" style="width:60px">';
							
							var noidung='<%=data[i].noiDung%>';
							noidung=noidung.substring(0, 140);
							noidung+=' ...';
							
							html +='<p><font size="4" face="Verdana">'+noidung+'</font></p><br>';
							
							var timepost = Date.parse('<%=data[i].datePost%>');			//mysql định dạng Sun May 06 2018 00:00:00 GMT+0700 (SE Asia Standard Time)	
							var current = new Date();
							var day=Math.floor((current-timepost)/86400000);
							var hour=Math.floor((current-timepost-86400000*day)/3600000);
							if(day==0)out=hour+' giờ trước';
							else	var out=day+' ngày '+hour+' giờ trước';
							
							html += '<div><font face="Comic Sans MS">';
							html += '<span style="text-align:left;color:orange;" >Sẽ select lấy số sao ở đây :))</span><span style="float:right;color:blue;" >'+out+'</span>';
							html += '</font></div>';
							html += '<br></div>';
							html += '<button class="w3-button w3-block w3-dark-grey"><font size="4"><b>+ Detail</b></font></button>';
							html += '</div>';
							html += '</div>';
							html += '</p>';
						
							document.write(html);						
							</script>
				
				<% } %>
				
				







			</div>
			<!-- /.container -->

			<%- include footer %>